.nav{
    @include flexContainer(row, space-between, center);
    width: 100%;
    padding: 0px 20px;
    .nav__logo{
        max-height: 90px;
        padding: 10px;
    }
    .nav__links{
        @include flexContainer(column, center, flex-end);
        padding: 20px;
        .nav__links-top{
            padding: 0 10px 15px;
            .nav__links-top--callnow{
                color: $font-color;
                font-weight: 700;
            }
            .nav__links-top--number{
                font-size: 1.3rem;
                font-weight: 700;
                margin-left: 10px;
            }
        }
        .nav__links-bottom{
            .nav__links-bottom-links{
                margin: 10px 20px;
                color: $font-color;
                font-weight: 500;
            }
        }
    }
}
@media only screen and (max-width: 750px){
    .nav{
        .nav__links{
            .nav__links-top{
                @include flexContainer(column, center, flex-end)
                .nav__links-top--callnow{
                    width: 100%;
                    text-align: end;
                }
            }
            .nav__links-bottom{
                .nav__links-bottom-links{
                    display: none;
                }
            }
        }
    }
}