// Variables=========================================
$color-font: #1C1C1C;
$color-bg: #F0F0F0;
$color-btn: #EFEFEF;
$black: #0a0a0a;
$white: #fefefee9;
$font-color: #027373;
$font: 'Noto Sans JP', sans-serif;

$max-width: 960px;
$max-width-wide: 1300px;
$header-margin-bottom: 20px;
$paragraph-margin-bottom: 10px;
$padding-section: 40px;


$global-border-radius: 5px;
$global-btn-border-radius: 25px;

//Mixins===========================================
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}
@mixin flexContainer($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
@mixin flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin paddingLR($padding-left, $padding-right){
	  padding-left: $padding-left + px;
	  padding-right: $padding-right + px;
}
@mixin projectShadow{
	-webkit-box-shadow: -6px 6px 8px 0px rgba(0,0,0,0.72); 
	box-shadow: -6px 6px 8px 0px rgba(0,0,0,0.72);
}
@mixin button{
	button{
		font-size: 1rem;
		padding: 1rem 1.4rem;
		border-radius: $global-btn-border-radius;
		border: none;
		background: $color-bg;
		transition: all .1s ease-in-out;
		&:hover{
			font-size: 1.2rem;
			background-color: darken($color-bg, 5%)
		}
		a{
			color: black;
			text-decoration: none;
			opacity: .8;
			transition: all .2s ease-in-out;
		}
	}
}

// Universal Setting============
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
//Typography====================
html, body {
	h1,
	h2,
	h3,
	h4,
	h5, li, span, a{
		font-family: $font;
		opacity: 0.9;
		line-height: 1.4;
	}
	p {
		font-family: $font;
		line-height: 1.4;
	}
	h1{
		font-size: 3rem;
	}
	h2{
		font-size: 2rem;
		padding-bottom: 40px;
	}
	h3{
		font-size: 1.5rem;
		padding-bottom: 30px;
	}
	a{
		text-decoration: none;
	}
}
//Page Formatting================
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: 'only screen and (min-width: 0px)';
$breakpoint-medium: 'only screen and (min-width: 768px)';
$breakpoint-large: 'only screen and (min-width: 1008px)';
$breakpoint-xl: 'only screen and (min-width: 1300px)';